<% graph_width = 800 %>

<% content_for :head do %>
<style>
  .graph-container {
    position: relative;
    margin: 2em;;
  }
  #svg-container {
    padding: 2em;
  }
  #svg-container .overlay {
    opacity: 0;
  }
  .stats {
    position: absolute;
    top: 2em;
    left: 3em;
  }
  .controls {
    position: absolute;
    left: <%= graph_width + 50 %>px;
    top: 2em;
  }
  .controls ul {
    padding-left: 0;
    list-style: none;
  }
  path {
    stroke-width: 2;
    fill: none;
  }
  line {
    stroke: black;
  }
  text {
    font-family: Arial;
    font-size: 9pt;
  }
  .lang-type {
    font-weight: bold;
  }
  .axis {
    stroke: #000;
  }
</style>
<% end %>
<div class="graph-container">
  <div class="stats"></div>
  <div class='controls'>
    <select class='author-selector'>
      <% @author_handles.each do |handle| %>
        <option data-handle='<%= handle %>' <%= 'selected' if handle == params[:u] %>><%= handle %></option>
      <% end %>
    </select>
    <ul>
      <% @languages.each do |lang| %>
        <li><label><input class="lang-input" checked='checked' data-lang-type="<%= lang %>" type="checkbox" /><%= lang %></label>
      <% end %>
    </ul>
  </div>
  <svg id="svg-container"></svg>
</div>

<% content_for :script do %>
<%# <script src="http://d3js.org/d3.v2.min.js"></script> %>
<script src="http://d3js.org/d3.v2.js"></script>
<script>
  var rawStats = '<%= @commit_stats.values.to_json.html_safe %>';
  var rawDateStats = '<%= @commit_dates.as_json.to_json.html_safe %>';
  var chart = {
    w: <%= graph_width %>,
    h: 400,
    days: <%= @num_days %>,
    maxLines: 0,
    maxDate: new Date('<%= (@last_date) %>'),
    colors: ['#f7977a', '#fff79a', '#c4df9b', '#7ea7d8', '#a187be']
  }
  function getCopyOfDate(date) {
    return new Date(date.getTime());
  }
  <%# stats for all commits for a particular language on a given date %>
  var Stat = function(date, added, deleted) {
    this.date = date;
    this.added = added;
    this.deleted = deleted;
    var self = this;
    this.totalLines = function() {
      return self.added + self.deleted;
    };
    this.addToPlusCount = function(count) {
      self.added += count;
    };
    this.addToMinusCount = function(count) {
      self.deleted += count;
    };
  }
  <%# all commits for a given user for a given date %>
  var Commit = function(type, statsArr) {
    this.type = type;
    this.statsArr = statsArr;
    this.stats = $.map(new Array(chart.days), function(el, i) {
      var d = getCopyOfDate(chart.maxDate);
      d.setDate(d.getDate()-i);
      return new Stat(d,0,0);
    });
    var self = this;
    this.initializeStats = function() {
      $.each(statsArr, function(i, el) {
        var lastDate = getCopyOfDate(chart.maxDate);
        var date = new Date(el[0]);
        var timeInMillis = lastDate.getTime() - date.getTime();
        var daysAgo = Math.floor(timeInMillis / (1000 * 60 * 60 * 24));
        self.stats[daysAgo].addToPlusCount(el[1]);
        self.stats[daysAgo].addToMinusCount(el[2]);
        // determine most lines in a day and add 10% to buffer
        if (self.stats[daysAgo].totalLines() > chart.maxLines) {
          chart.maxLines = Math.ceil(self.stats[daysAgo].totalLines() * 1.1);
        }
      });
    }
    this.initializeStats();
  }
  var CommitType = function(langType, added, deleted) {
    this.langType = langType;
    this.added = parseInt(added);
    this.deleted = parseInt(deleted);
    this.total = parseInt(added) + parseInt(deleted);
  }
  var CommitStat = function(dateStr, statsHash) {
    this.date = new Date(dateStr);
    this.statsHash = statsHash;
    this.languages = [];
    var self = this;
    $.each(statsHash, function(langType, countStr) {
      self.languages.push(new CommitType(langType, countStr.split(",")[0], countStr.split(",")[1]));
    });
    this.languageStr = $.map(this.languages, function(el, i) {
      return '<span class="' + el.langType + ' lang-type">' + convertLanguageTypeToLanguageText(el.langType) + '</span>' + ": " + el.total;
    }).join(" ");

    function convertLanguageTypeToLanguageText(langType) {
      switch(langType) {
        case "rb":
          return "Ruby";
        case "html":
          return "HTML";
        case "css":
          return "CSS";
        case "js":
          return "Javascript";
        default:
          return "Unknown";
      }
    }
  }
  var statsByDate = [];
  var minDate = new Date('<%= (@first_date).try(:strftime, "%Y-%m-%d") %>');
  var currentDate = getCopyOfDate(chart.maxDate);

  $.each(JSON.parse(rawDateStats), function(i, el) {
    var date = new Date(el[0]);
    statsByDate.push(new CommitStat(date, el[1]));
  });
  var style = document.createElement('style');
  var stats = $.map(JSON.parse(rawStats), function(el, i) {
    var langType = el[0];
    style.innerHTML += '.' + langType + ' { color: ' + chart.colors[i] + '; }.' + langType + ' circle { fill: ' + chart.colors[i] + '; }';
    return new Commit(langType, el[1]);
  });
  document.getElementsByTagName('head')[0].appendChild(style);

  var svg = d3.select('svg')
    .attr('width', chart.w)
    .attr('height', chart.h);

  var margin = 10,
  y = d3.scale.linear().domain([0, chart.maxLines]).range([0 + margin, chart.h - margin]),
  x = d3.time.scale().domain([minDate, chart.maxDate]).range([0 + margin, chart.w - margin]);

  var g = svg.append("svg:g")
      .attr("transform", "translate(0, " + (chart.h - margin) + ")");

  <%# draw grid %>
  g.selectAll("line.x")
    .data(x.ticks(10))
    .enter()
    .append("line")
    .attr("x1", x)
    .attr("x2", x)
    .attr("y1", -1 * y(0))
    .attr("y2", -1 * y(chart.maxLines))
    .style("stroke", "#ccc");

  g.selectAll("line.y")
    .data(y.ticks(10))
    .enter()
    .append("line")
    .attr("x1", x(minDate))
    .attr("x2", x(chart.maxDate))
    .attr("y1", function(d) { return -1 * y(d); })
    .attr("y2", function(d) { return -1 * y(d); })
    .style("stroke", "#ccc");

  <%# draw the colored line %>
  var focuses = [];
  $.each(stats, function(i, el) {
    console.log('i',i,el.type,el,chart.colors[i]);
    var line = d3.svg.line()
        .x(function(d) { return x(d.date); })
        .y(function(d) { return -1 * y(d.totalLines()); })
    var path = g.append("svg:path")
      .attr('class', 'line-' + el.type)
      .attr("d", line(el.stats.reverse()))
      .attr('stroke', function(d) { return chart.colors[i]; });
    var totalLength = path.node().getTotalLength();
    path
      .attr("stroke-dasharray", totalLength + " " + totalLength)
      .attr("stroke-dashoffset", totalLength)
      .transition()
        .duration(2000)
        .attr("stroke-dashoffset", 0);
    var focus = svg.append("g")
      .attr("class", "focus " + el.type)
        .append("circle")
        .attr("r", 4.5);
    // .style("display", "none");
    focuses.push(focus);
  });

  <%# draw x-axis %>
  g.append("line")
    .attr('class', 'x axis')
    .attr("x1", x(minDate))
    .attr("y1", -1 * y(0))
    .attr("x2", x(chart.maxDate))
    .attr("y2", -1 * y(0));

  <%# draw y-axis %>
  g.append("line")
    .attr('class', 'y axis')
    .attr("x1", x(minDate))
    .attr("y1", -1 * y(0))
    .attr("x2", x(minDate))
    .attr("y2", -1 * y(chart.maxLines));

  <%# draw labels %>
  var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom")
    .tickFormat(d3.time.format("%m/%d/%Y"))
    .ticks(d3.time.days, 10);
  svg.append("g")
    .attr("class", "x-axis")
    .attr("transform", "translate(0," + (chart.h) + ")")
    .call(xAxis);

  g.selectAll(".yLabel")
    .data(y.ticks(10))
    .enter().append("svg:text")
    .attr("class", "yLabel")
    .text(String)
    .attr('text-anchor', 'end')
    .attr("x", 0)
    .attr("y", function(d) { return -1 * y(d) })
    .attr("dy", 4);

  <%# draw the commit lines %>
  $.each(statsByDate, function(i, el) {
    g.append("line")
      .attr("stroke-width", 7)
      .attr("opacity", 0)
      .attr("x1", x(el.date))
      .attr("y1", -1 * y(0))
      .attr("x2", x(el.date))
      .attr("y2", -1 * y(chart.maxLines))
      .on("mouseover", function(e) {
        var d = new Date(el.date.getTime());
        var curr_date = d.getDate();
        var curr_month = d.getMonth() + 1; //Months are zero based
        var dateStr = d.getFullYear() + "/" + (d.getMonth() + 1) + "/" + d.getDate();
        $('.stats').html(dateStr + ": " + el.languageStr);
      });
  });

  svg.append("rect")
      .attr("class", "overlay")
      .attr("width", chart.w)
      .attr("height", chart.h)
      .on("mouseover", function() { $('.focus').show(); })
      .on("mouseout", function() { $('.focus').hide(); })
      .on("mousemove", mousemove);

  var bisectDate = d3.bisector(function(d) { return d.date; }).right;

  function mousemove() {
    var x0 = x.invert(d3.mouse(this)[0]);

    $.each(stats, function(ignored, el) {
      var i = bisectDate(el.stats, x0, 1);
      if (i >= el.stats.length) {
        return;
      }
      var d0 = el.stats[i - 1],
        d1 = el.stats[i],
        d = x0 - d0.date > d1.date - x0 ? d1 : d0;
      focuses[ignored].attr("transform", "translate(" + x(d.date) + "," + (chart.h - margin - y(d.totalLines())) + ")");
      if (ignored == 0) {
        (function(selectedDate) {
          var el;
          for (var i = 0; i < statsByDate.length; i++) {
            if (statsByDate[i].date.getTime() == selectedDate.getTime()) {
              el = statsByDate[i];
              break;
            }
          }
          if (el === undefined) {
            return;
          }
          var d = new Date(el.date.getTime());
          var curr_date = d.getDate();
          var curr_month = d.getMonth() + 1; //Months are zero based
          var dateStr = d.getFullYear() + "/" + (d.getMonth() + 1) + "/" + d.getDate();
          $('.stats').html(dateStr + ": " + el.languageStr);
        })(d.date);
      }
    });
  }

  $('.lang-input').on('click', function() {
    var languageType = $(this).data('lang-type');
    $('path.line-' + languageType).toggle();
    $('.focus.' + languageType + ' circle').toggle();
  });

  $('.author-selector').on('change', function() {
    window.location.href = '<%= root_path %>' + '?u=' + $(this).val();
  });

</script>
<% end %>