<!DOCTYPE html>
<html>
<head>
  <title>Gitstats</title>
  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>
<body style="font-size: 13px; line-height: 1.5;">
  <%= yield %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <%= javascript_include_tag *(['application', @page_js].flatten.compact.uniq) %>
  <%= yield :script %>
</body>
</html>
